extends layout

block append scripts
  != js('jquery-2.0.2')
  != js('underscore')
  != js('socket.io')
  != js('backbone')
  != js('dfine')
  != js('models')
  != js('views')

block append head
  != css('style')
block content
  h1= title
  p Welcome to #{title}
  a(href="http://heise.de/") heise.de

  div
    ul#FeedsView

  != js('feed_client')
