extends layout

block append scripts
  != js('underscore-min')
  != js('socket.io-min')
  != js('backbone-min')
  != js('feed_client')

block append head
  != css('style')
block content
  h1= title
  p Welcome to #{title}
    a(href="http://heise.de/") heise.de

